body{
    margin: 0px;
        padding: 0px;
}


.fondo{

      
      background: #ADA996;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, hsla(0, 0%, 92%, 0.8), hsla(0, 0%, 86%, 0.8), hsla(0, 0%, 95%, 0.8), hsla(50, 12%, 63%, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right,  hsla(0, 0%, 92%, 0.8), hsla(0, 0%, 86%, 0.8), hsla(0, 0%, 95%, 0.8), hsla(50, 12%, 63%, 0.8)), url("../images/placa-vectorizada.svg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   

        background-size: cover;
        background-attachment: fixed;
        /* Background-color: transparent; */
        background-repeat: no-repeat ;
        /* background-repeat: repeat-x; */
        background-position: 0 0;
        overflow:hidden;
}
.titulo {
    padding: 50px 0px;
    background-color: #0000ff62;
    text-align: center;
    font-size: 1em;
}  
    

.divisor{
    display: grid;
    grid-template-columns:40% 40%;
    justify-content: space-around;
}

    .led{
/* background-color: brown; */
    }
    .visual{
/* background-color: burlywood; */
    }